@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.wrapper {
    max-width: 1140px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Roboto", sans-serif;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #fff;
    background-color: #2fa0f6;
    min-width: 120px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
}

.button svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    fill: #fff;
}

.button span {
    display: none;
}

@media (min-width: 600px) {
    .button span {
        display: initial;
    }
}

.button--icon {
    min-width: initial;
    padding: 0.5rem;
}

/* アイコン */
.logo {
    color: #006a2a;
}

.logo:hover {
    color: #01451c;
    ;
}

.createImage {
    height: 200px;
}

.center {
    /*コレ*/
    /* width: fit-content; */
    width: 600px;
    /*コレ*/
    margin: auto;
    border: 1px solid #7effb2;
    background: rgba(158, 150, 150, 0.7);
}

.wrap {
    /* position: fixed; */
    width: fit-content;
    margin: auto;
    /* margin-right: auto; */
    /* margin-left: 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

/* .wrap div {
    width: 25%;
} */

.wrap>* {
    flex-basis: calc(20% - 20px);
    /* 20% は、5つのフレックスアイテムが含まれるための幅の割合であり、20px は、各フレックスアイテムの間に設定する余白の幅です。 */
    margin: 10px;
    /* 上下左右に10pxの余白を設定します。 */
}

.wrap :nth-child(n+4) {
    /* 5番目以降のフレックスアイテムには、以下のスタイルを適用します。 */
    flex-basis: calc(25% - 20px);
    /* 25% は、5つのフレックスアイテムが含まれるための幅の割合であり、20px は、各フレックスアイテムの間に設定する余白の幅です。 */
}

.size {
    height: 300px;
    width: 300px;
}

/* main画面の画像 */
.item {
    /*コレ*/
    width: fit-content;
    /*コレ*/
    margin: 0 auto;
    padding: 1px;
    /* width: 20%; */
    /* 背景色+背景色に透明度を出す */
    background-color: rgba(158, 150, 150, 0.7);
}

/* .item:not(:nth-child(n+4)) {
    margin-right: 5px;
}

.item:nth-child(n+4) {
    margin-top: 5px;
} */

.background {
    width: 100%;
    height: 100vh;
    background-image: url(/reizouko.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* line QEコード */
.line {
    /*コレ*/
    width: fit-content;
    /*コレ*/
    margin: 0 auto;
    /* margin: auto; */
}

/* @media not all and (min-width: 768px) {
    .item {
        width: 100%;
    }

    .item:not(:nth-child(3n+3)) {
        margin-right: 0;
    }

    .item:nth-child(n+2) {
        margin-top: 30px;
    }
} */

/* タブ機能 */
/* 非表示にする */
/* ▼タブ */
#tabcontrol a {
    display: inline-block;
    /* インラインブロック化 */
    border-width: 1px 1px 0px 1px;
    /* 下以外の枠線を引く */
    border-style: solid;
    /* 枠線の種類：実線 */
    border-color: black;
    /* 枠線の色：黒色 */
    border-radius: 0.75em 0.75em 0 0;
    /* 枠線の左上角と右上角だけを丸く */
    padding: 0.75em 1em;
    /* 内側の余白 */
    text-decoration: none;
    /* リンクの下線を消す */
    color: black;
    /* 文字色：黒色 */
    background-color: white;
    /* 背景色：白色 */
    font-weight: bold;
    /* 太字 */
    position: relative;
    /* JavaScriptでz-indexを調整するために必要 */
}

/* ▼タブにマウスポインタが載った際(任意) */
#tabcontrol a:hover {
    text-decoration: underline;
    /* 文字に下線を引く */
}

/* ▼タブの中身 */
#tabbody div {
    border: 1px solid black;
    /* 枠線：黒色の実線を1pxの太さで引く */
    margin-top: -1px;
    /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 1em;
    /* 内側の余白量 */
    background-color: white;
    /* 背景色：白色 */
    position: relative;
    /* z-indexを調整するために必要 */
    z-index: 0;
    /* 重なり順序を「最も背面」にするため */
}

/* ▼タブの配色 */
#tabcontrol a:nth-child(1),
#tabbody div:nth-child(1) {
    background-color: #ffffdd;
}

/* 1つ目のタブとその中身用の配色 */

#tabcontrol a:nth-child(2),
#tabbody div:nth-child(2) {
    background-color: #ddffdd;
}

/* 2つ目のタブとその中身用の配色 */

#tabcontrol a:nth-child(3),
#tabbody div:nth-child(3) {
    background-color: #ddddff;
}

/* 3つ目のタブとその中身用の配色 */

#tabcontrol a:nth-child(4),
#tabbody div:nth-child(4) {
    background-color: #89bdf5;
}

#tabcontrol a:nth-child(5),
#tabbody div:nth-child(5) {
    background-color: #f165df;
}

#tabcontrol a:nth-child(6),
#tabbody div:nth-child(6) {
    background-color: #91deef;
}

.styled {
    width: 100%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #4f4f4f;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(150, 237, 107);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(125, 240, 102, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgb(7, 182, 65);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.styled2 {
    width: 100%;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #4f4f4f;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(253, 80, 80);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(249, 66, 90, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled2:hover {
    background-color: rgb(220, 9, 9);
}

.styled2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* .createImage {
    width: 30px;
    height: 30px;
} */

/* input[type="radio"] {
    display: none;
} */

/* 画像の周りに隙間をあける */
/* label img {
    margin: 3px;
    padding: 5px;
} */

/* 未選択の場合、色を薄くする */
/* input[type="radio"]+label img {
    opacity: 0.2;
} */

/* 選択済みの場合、色を濃くする */
/* input[type="radio"]:checked+label img {
    opacity: 1;
} */

html,
body {
    /* 横スク禁止 */
    overflow-x: hidden;
}

.item.alert {
    background-color: #FF0000;
    /* 赤色 */
}

.limit_date {
    background-color: rgba(241, 100, 100, 0.7);
}

.limitAlert {
    background-color: rgba(239, 241, 100, 0.7);
}

/* fileの選択されていませんを消す */
/* input[type="file"] {
    display: none;
} */

.wraptest {
    /* position: fixed; */
    width: fit-content;
    margin: auto;
    /* margin-right: auto; */
    /* margin-left: 0; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.wraptest>* {
    flex-basis: calc(20% - 20px);
    /* 20% は、5つのフレックスアイテムが含まれるための幅の割合であり、20px は、各フレックスアイテムの間に設定する余白の幅です。 */
    margin: 10px;
    /* 上下左右に10pxの余白を設定します。 */
}

.wraptest :nth-child(4n+4) {
    /* 5番目以降のフレックスアイテムには、以下のスタイルを適用します。 */
    flex-basis: calc(25% - 20px);
    /* 25% は、5つのフレックスアイテムが含まれるための幅の割合であり、20px は、各フレックスアイテムの間に設定する余白の幅です。 */
}
